click==7.1.2
dnspython==2.1.0
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.0.0
is-disposable-email==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyMySQL==1.0.2
pytz==2021.1
SQLAlchemy==1.4.13
Werkzeug==1.0.1
WTForms==2.3.3
wtforms-validators==1.0.0