{% extends 'layout.html' %}

{% block body %}

{% if all_tasks|length < 1 %}
<h2 style='color:blue'>Database is empty.</h2>
<h2 style='color:blue'>Please make some tasks.</h2>

{% else %}
<h2 style='color:red'>Incompleted Tasks</h2>
{% for task in incompleted_tasks %}
<p>{{ task.date_created }} ➥ {{ task.task }}   
    <form action="{{ url_for('update', id=task.id) }}" method="post">
    <input type="submit" value='Update'>
</form>
<form action="{{ url_for('delete', id=task.id) }}" method="post">
    <input type="submit" value='Delete'>
</form>
<form action="{{ url_for('completed', id=task.id) }}" method="post">
    <input type="submit" value='Completed'>
</form><br></p>
{% endfor %}

<br><br>

<h2 style='color:green'>Completed Tasks</h2>
{% for task in completed_tasks %}
<p>{{ task.date_created }} ➥ {{ task.task }}   
    <form action="{{ url_for('update', id=task.id) }}" method="post">
    <input type="submit" value='Update'>
</form>
<form action="{{ url_for('delete', id=task.id) }}" method="post">
    <input type="submit" value='Delete'>
</form>
<form action="{{ url_for('incompleted', id=task.id) }}" method="post">
    <input type="submit" value='Incompleted'>
</form><br></p>
{% endfor %}

{% endif %}

{% endblock body %}